/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>

&mt { flavor = "tap-preferred"; };

/ {
    macros {
        L_HYPER: LEFT_HYPER {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp_kt LS(LA(LC(LEFT_GUI))) LS(LA(LC(LEFT_GUI)))>;
            label = "L_HYPER";
        };

        R_HYPER: RIGHT_HYPER {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp_kt RS(RA(RC(RIGHT_GUI))) RS(RA(RC(RIGHT_GUI)))>;
            label = "R_HYPER";
        };

        L_MEH: LEFT_MEH {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp_kt LA(LC(LEFT_SHIFT)) LA(LC(LEFT_SHIFT))>;
            label = "L_MEH";
        };

        R_MEH: R_MEH {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp_kt RA(RC(RIGHT_SHIFT)) RA(RC(RIGHT_SHIFT))>;
            label = "R_MEH";
        };
    };

    behaviors {
        hm: homerow_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "Homemod";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        mo_to: move_to_toggle_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "mo_to";
            bindings = <&mo>, <&tog>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
        };

        kp_kt: key_press_toggle {
            compatible = "zmk,behavior-hold-tap";
            label = "kp_kt";
            bindings = <&kp>, <&kt>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp ESC        &kp N1  &kp N2              &kp N3              &kp N4               &kp N5                                                 &kp N6      &kp N7                   &kp N8               &kp N9               &kp N0    &kp ESC
&kp TAB        &kp Q   &kp W               &kp E               &kp R                &kp T                                                  &kp Y       &kp U                    &kp I                &kp O                &kp P     &kp TAB
&kp LG(SPACE)  &kp A   &hm LC(LEFT_ALT) S  &hm LEFT_CONTROL D  &hm LEFT_SHIFT F     &kp G                                                  &kp H       &hm RIGHT_SHIFT J        &hm RIGHT_CONTROL K  &hm RC(RIGHT_ALT) L  &kp SEMI  &kp SINGLE_QUOTE
&mo_to 2 2     &kp Z   &kp X               &kp C               &kp V                &kp B       &L_HYPER              &R_HYPER             &kp N       &kp M                    &kp COMMA            &kp DOT              &kp FSLH  &mo_to 4 4
                                           &L_MEH              &mt LEFT_ALT DELETE  &mo_to 1 1  &mt LEFT_GUI SPACE    &mt RIGHT_GUI ENTER  &mo_to 2 0  &mt RIGHT_ALT BACKSPACE  &R_MEH
            >;
        };

        SYMBOL {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&to 0   &kp F1  &kp F2         &kp F3            &kp F4     &kp F5                      &kp F6     &kp F7      &kp F8                &kp F9                 &kp F10        &to 0
&trans  &trans  &kp LESS_THAN  &kp GREATER_THAN  &kp AT     &kp EXCL                    &kp AMPS   &kp SEMI    &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp BACKSLASH  &kp SINGLE_QUOTE
&trans  &trans  &kp MINUS      &kp PLUS          &kp EQUAL  &kp HASH                    &kp PIPE   &kp COLON   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PERCENT    &kp DOUBLE_QUOTES
&trans  &trans  &kp UNDER      &kp ASTERISK      &kp CARET  &kp DOT   &trans    &trans  &kp TILDE  &kp DOLLAR  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp SLASH      &kp GRAVE
                               &trans            &trans     &to 2     &trans    &trans  &to 0      &trans      &trans
            >;

            label = "SYMBOL";
        };

        MEDIA {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&to 0      &trans  &trans  &trans   &trans   &trans                     &trans       &trans           &trans     &trans    &trans     &to 0
&kp GRAVE  &kp N1  &kp N2  &kp N3   &kp N4   &kp N5                     &kp N6       &kp N7           &kp N8     &kp N9    &kp N0     &trans
&kp F1     &kp F2  &kp F3  &kp F4   &kp F5   &kp F6                     &trans       &kp LEFT         &kp DOWN   &kp UP    &kp RIGHT  &trans
&kp F7     &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &trans    &trans  &kp KP_PLUS  &kp KP_SUBTRACT  &kp EQUAL  &kp LBKT  &kp RBKT   &kp KP_DIVIDE
                           &trans   &trans   &to 3    &trans    &trans  &to 1        &trans           &trans
            >;

            label = "MEDIA";
        };

        NUM {
            bindings = <
&to 0   &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &to 0
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &to 4   &trans    &trans  &to 2   &trans  &trans
            >;

            label = "NUMPAD";
        };

        SYS {
            bindings = <
&to 0   &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &to 0
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &to 0   &trans    &trans  &to 3   &trans  &trans
            >;

            label = "SYSTEM";
        };
    };
};
